{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./Frontend/tsconfig.json"
  },
  "rules": {
    //We can specify more rules that we need here
    "prettier/prettier": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      { "js": "never", "jsx": "never", "ts": "never", "tsx": "never" }
    ]
  }
}
