.layout {
  display: grid;
  grid-template: 'sidebar header' auto 'sidebar main' 1fr / 1fr 7fr;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar {
  grid-area: sidebar;
  color: white;
  background-color: var(--color-grey-900);
}

.main {
  grid-area: main;
  background-color: var(--color-grey-50);
  padding: 24px;
}
