.layout {
  display: grid;
  grid-template: 'sidebar header' auto 'sidebar main' 1fr / 1fr 7fr;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  color: white;
  background-color: var(--color-grey-900);
}

.main {
  grid-area: main;
  background-color: var(--color-grey-50);
  padding: 24px;
  overflow: scroll;
}
