.label-editor__container {
  display: flex;
  gap: 3rem;
}

.label-editor__template {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
}

.label-editor__template-current {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid var(--color-brand-800);
  overflow: hidden;
}

.label-editor__item-delete {
  position: absolute;
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 0;
  right: 0;

  & svg {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-grey-700);
    stroke-width: 2px;
  }
}

.label-editor__draggable-item {
  position: absolute;
  border: 2px solid transparent;
  resize: both;
  padding: 0;
  background: transparent;
  text-align: center;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  cursor: move;
  overflow: hidden;
  &:hover {
    border: 2px dashed grey;

    .label-editor__item-delete {
      display: block;
    }
  }
}

.label-editor__draggable-item-edited {
  width: fit-content;

  & input {
    width: 100%;
  }
}

.label-editor__item-text {
  cursor: pointer;
  width: min-content;
}
