.label-editor__container {
  display: flex;
  gap: 3rem;
}

.label-editor__template {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
}

.label-editor__template-current {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid var(--color-brand-800);
  overflow: hidden;
}

.label-editor__item-delete {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 0;
  right: 0;

  & svg {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--color-grey-700);
    stroke-width: 2px;
  }
}

.label-editor__toolbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-editor__draggable-item {
  position: absolute;
  border: 2px transparent;
  padding: 10px;
  background: transparent;
  text-align: center;
  cursor: move;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 100px;

  &:hover {
    border: 2px dashed grey;
  }
}

.label-editor__draggable-item-edited {
  width: fit-content;
  max-width: 100px;

  & input {
    width: 100%;
  }
}

.label-editor__tool-wrapper {
  position: relative;
}

.label-editor_-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  margin-top: 4px;
}

.label-editor__tool {
  width: fit-content;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  transition: all 3ms;
  padding: 10px;
  & input {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-brand-800);
    background-color: var(--color-grey-100);
    border-radius: 2px;
  }
}

.label-editor__item-text {
  cursor: pointer;
}
